#main-div-deli-style{
   
    background-image:url("../../asset_bodega/bodega_bread-4674349_1920.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1300px;
}
#delitable {
    background-color: rgb(248, 226, 125);
    width: 200px;
    padding-top: 15px;
    }