

#main-div-nav-style{
    display:flex;
flex-direction: row;
justify-content: space-around;
height: 50px;
background-position: center;
background-size: cover;
border-bottom:outset 6px rgb(2, 16, 31);
padding-top: 15px;
color: rgb(48, 10, 10);
font-size: larger;
font-weight: bolder;
background-color: rgb(248, 226, 125);
}